@import '_color.sass'

.c-button
  width: 100%
  background-color: $primary
  color: #fff
  padding: 3px 10px
  border: none
  outline: none !important
  border-radius: 5px
  box-shadow: none
  appearance: none
  cursor: pointer
  transition: all 0.2s ease
  &:hover
    background-color: lighten($primary, 10%)
  &--disabled
    background-color: #ccc !important
    &:hover
      cursor: not-allowed
      background-color: #ccc !important
  &--round
    border-radius: 50px

.c-input

.c-checkbox

.c-captcha
  flex: 0 0 100px
  border: 1px solid #ccc
  margin-right: 10px
  position: relative
  #refresh
    position: absolute
    right: 0
    flex: 0 0 auto