- var env = "dev";

doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no maximum-scale=1 user-scalable=no")
    meta(name="format-detection" content="telephone=no")
    //- meta(name='description' content='網頁描述')
    //- meta(name='keywords' content='網頁關鍵字')
    //- meta(name='author' content='Bohan Huang')
    meta(property="og:image" content="http://static.naver.jp/line_lp/img/ogp.png")
    meta(property="og:title" content="frontend")
    meta(property="og:description" content="frontend")
    link(href='img/favicon.ico' rel='shortcut icon')
    title frontend
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css' rel='stylesheet')
    //- link(href='https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.2/theme-chalk/index.css' rel='stylesheet')
    link(href='css/main.css' rel='stylesheet')
    link(href='css/ud-modules.css' rel='stylesheet')
    block css

  body
    noscript Your browser does not support JavaScript!
    #app
      block modal
      .container
        .wrapper
          block content

    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src=`https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.${env==="dev"?"common.dev":"min"}.js`)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.2/index.js')
    script(src="https://cdn.jsdelivr.net/npm/@braid/vue-formulate@2.4.3/dist/formulate.min.js")
    script(src="js/ud-modules.js")
    block js