extends _layout.pug

block css
  //- link(href='https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.12.0/theme-chalk/index.css' rel='stylesheet')
  link(href='css/components.css' rel='stylesheet')
  link(href='css/index.css' rel='stylesheet')

block content
  ud-loading
  //- ud-modal-2
  //- ud-modal
  //-   h6 彈出標題
  //-   p 彈出訊息
  //-   ud-button OK
  ud-notify(type="success" msg="這是通知")
  ud-button(@click="showModal = true") Show Modal
  ud-modal(v-if="showModal" @close="showModal = false")
    h3(slot="header") custom header
  .box
    ud-ellipsis(:max-line="1") 文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字測試文字
  h2#aa {{agree ? "同意": "不同意"}}
  ud-button(@click="agree = !agree" icon="fab fa-adobe" :disabled="disabled" round) 456
  ud-button(@click="disabled = !disabled" round) 開關
  ud-input(v-model="title")
  ud-image-upload
  ud-image-upload-multiple
  ud-youtube-api(video-id="p6qjpdi8XuE" :start="4" mute)
  //- ud-countdown-deadline
  p 還剩#[ud-countdown(:time="10" @timeup="timeup")]秒
  ud-button(@click="timereset") 重新計時

block js
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.12.0/index.js")
  //- script(async="" src="https://www.youtube.com/iframe_api")
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js')
  script(src="js/utils.js")
  script(src="js/components.js")
  script(src="js/index.js")