extends _layout.pug

block css
  //- link(href='https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.12.0/theme-chalk/index.css' rel='stylesheet')
  link(href='css/ud-dev.css' rel='stylesheet')
  link(href='css/ud-modules.css' rel='stylesheet')
  //- link(href='https://cdn.jsdelivr.net/npm/@braid/vue-formulate@2.4.3/dist/snow.min.css' rel='stylesheet')
  link(href='css/index.css' rel='stylesheet')

block content
  h1 {{ title }}
  //- ud-vf(type="textarea" required-msg="幹不能為空啦幹")
  h1 {{form}}
  formulate-form(v-model="form" @submit="alert")
    ud-vfinput(name="email")
    formulate-input(type="text" label="姓名" name="name" validation="required" :validation-messages="{required: '姓名不可為空'}")
    formulate-input(type="checkbox" label="主推" name="osi" :options="testOptions" validation="required" :validation-messages="{required: '主推不可為空'}")
    formulate-input(type="submit")
  h1 {{form2}}
  formulate-form(v-model="form2" @submit="alert")
    ud-vfinput(name="email")
    formulate-input(type="text" label="姓名" name="name" validation="required" :validation-messages="{required: '姓名不可為空'}")
    formulate-input(type="checkbox" label="主推" name="osi" :options="testOptions" validation="required" :validation-messages="{required: '主推不可為空'}")
    formulate-input(type="submit")
block js
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.12.0/index.js")
  //- script(async="" src="https://www.youtube.com/iframe_api")
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js')
  script(src="https://cdn.jsdelivr.net/npm/@braid/vue-formulate@2.4.3/dist/formulate.min.js")
  script(src="js/ud-dev.js")
  script(src="js/ud-modules.js")
  script(src="js/index.js")