extends _layout.pug

block css
  link(href='https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.12.0/theme-chalk/index.css' rel='stylesheet')
  link(href='css/components.css' rel='stylesheet')
  link(href='css/index.css' rel='stylesheet')

block modal
  h6 彈出標題
  p 彈出訊息
  button.button(type="button" onclick="modal('.modal')") OK

block content
  h1 {{title}}
  h2 {{agree ? "同意": "不同意"}}
  c-button(@click="agree = !agree" icon="fab fa-adobe" :disabled="disabled" round) →456
  c-button(@click="disabled = !disabled" round) 開關
  c-input(v-model="title")
  c-captcha(color="#f00" font="35px Arial" bg-color="aqua" :has-line="false" :has-dots="false")

block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.12.0/index.js")
  script(src="js/utils.js")
  script(src="js/components.js")
  script(src="js/index.js")