extends _layout.pug

block css
  //- link(href='https://cdn.jsdelivr.net/npm/@braid/vue-formulate@2.4.3/dist/snow.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href='css/index.css' rel='stylesheet')

block modal
  ud-modal(v-model="isModalShow" :message="modalMessage" @cancel="isModalShow = 0")

block content
  ud-form(:rules="rules" :model="user" ref="form")
    ud-form-item(label="姓名" prop="name" flex)
      ud-input(placeholder="請輸入您的姓名" v-model="user.name")
    ud-form-item(label="年齡" prop="age" flex)
      ud-input(placeholder="請輸入您的年齡" v-model="user.age" type="tel")
    ud-form-item(label="生日" prop="birthday" flex)
      ud-input(placeholder="請輸入您的生日" v-model="user.birthday")
    ud-form-item(label="驗證碼" prop="verify" flex)
      ud-input(placeholder="驗證碼" v-model="user.verify")
    ud-form-item(label="單選" prop="radio")
      ud-radio(v-model="user.radio" :options="charaArr" flex)
    ud-form-item(label="條款" prop="agree")
      ud-checkbox(v-model="user.agree" options="我同意使用者條款")
    ud-form-item(label="多選" prop="checkbox")
      ud-checkbox(v-model="user.checkbox" :options="charaArr" flex)
    ud-form-item(label="下拉" prop="select")
      ud-select(v-model="user.select" :options="charaArr")
  br
  ud-button(@click="formSubmit") 送出表單

  ud-select-link(v-model="user.store" :options="storeArr" :placeholder="['縣市', '行政區']" flex third)
    //- p >
    //- p(slot="second") >
  ud-select-twzip(v-model="user.twzip" flex)
    //- p 縣市
    //- p(slot="second") 區
  ud-select-date(v-model="user.date" flex third)
    //- p 年
    //- p(slot="second") 月
  p {{ user.store }}
  p {{ user.twzip }}
  p {{ user.date }}

block js
  script(src="js/index.js")