extends _layout.pug

block css
  //- link(href='https://cdn.jsdelivr.net/npm/@braid/vue-formulate@2.4.3/dist/snow.min.css' rel='stylesheet')
  link(href='css/index.css' rel='stylesheet')

block modal
  ud-alert(v-model="isAlertShow" mask-cancel :message="alertMessage")
  ud-confirm(v-model="isConfirmShow" mask-cancel :message="confirmMessage" @confirm="confirm" confirm-txt="送出")
  ud-modal(:is-show="isModalShow" mask-cancel has-cancel :message="modalMessage" @cancel="isModalShow = 0")

block content
  .flex-wrapper
    ud-button(@click="alert") alert
    ud-button(@click="showConfirm('confirm開了')") confirm
    ud-button(@click="showModal('modal開了')") modal
  p inputVal: {{ inputVal }}
  ud-input(v-model="inputVal" placeholder="請輸入姓名")
  hr
  p textareaVal: {{ textareaVal }}
  ud-textarea(v-model="textareaVal")
  hr
  p radioVal: {{ radioVal }}
  ud-radio(v-model="radioVal" :options="formObj")
  hr
  p acceptVal: {{ acceptVal }}
  ud-checkbox(v-model="acceptVal" :options="{false: '我同意使用者條款'}")
  hr
  p checkboxVal: {{ checkboxVal }}
  ud-checkbox(v-model="checkboxVal" :options="formObj")
  hr
  p selectVal: {{ selectVal }}
  ud-select(v-model="selectVal" :options="formObj" ref="test")
  hr
  h1 {{ form }}
  //- h1 {{ generate }}
  formulate-form(v-model="form" @submit="success" name="my-form")
    ud-vf-item(label="姓名")
      ud-name
    ud-vf-item(label="性別")
      ud-gender
    ud-vf-item(label="手機")
      ud-phone
    ud-vf-item(label="E-mail")
      ud-mail
    ud-vf-item(label="身分證字號")
      ud-idcard
    ud-vf-item(label="開始日期")
      ud-date(name="startAt")
    ud-vf-item(label="地址")
      ud-address-group
    ud-accept
      p 我同意酷必資訊#[a(href="https://goo.gl/") 使用者條款]!
    //- formulate-input(type="textarea" label="長文框" name="textarea" placeholder="請輸入簡介" validation="required" :validation-messages="{required: '此欄不可為空'}")
    //- formulate-input(type="radio" label="單選" name="radio" :options="testOptions" validation="required" :validation-messages="{required: '此欄不可為空'}")
    //- formulate-input(type="checkbox" label="多選" name="checkbox" :options="testOptions" validation="required" :validation-messages="{required: '此欄不可為空'}")
    //- formulate-input(type="select" label="下拉" name="select" placeholder="請選擇你的主推" :options="testOptions" validation="required" :validation-messages="{required: '此欄不可為空'}")
    //- formulate-input(type="file" name="file" label="file" help="Select one or more PDFs to upload" validation="required|mime:application/pdf" multiple :validation-messages="{required: '此欄不可為空'}")
    //- formulate-input(type="range" label="範圍條"  name="range" min="0" max="100" value="45" validation="required|min:10|max:90" error-behavior="live")
  ud-button(plain @click="$formulate.reset('my-form')") 清除
  ud-button(@click="$formulate.submit('my-form')") 送出
block js
  //- script(async="" src="https://www.youtube.com/iframe_api")
  script(src="js/index.js")